table, tr, td, th{
	padding: 10px;
	border: 1px solid black;
	margin-bottom: 20px;
	width: 100%;
}

.page-wrap{
margin-top: 100px;
}

.hero-unit{
	padding: 30px;
	margin: 0px;
}

.hero-unit h3{
	line-height: .01em;
}


.tablehead th{
	background-color: grey;
	font-weight: bold;
}

.lastupdated{
	font-size: 11px;
	color: grey;
}

.moreinfo{
	font-size: 13px;
	line-height: 2em;
}

table a {
	cursor: pointer;
}
table a:hover{
	text-decoration: none;
	cursor: pointer;
}